openapi: 3.0.1
info:
  title: Bohrium Open AI 科学小导师 (bohrium-mentor) AI 科学小导师 (bohrium-mentor) AI 科学小导师 (bohrium-mentor) API
  description: 'Bohrium 平台对外 OpenAPI 的单一事实源（single source of truth）。


    本文档由仓库 `dptech-corp/bohrium-skills` 的 `docs/api/openapi.json` 维护，内容基于各 Skill（`zh/<skill>/SKILL.md`）中记录的真实接口生成；Apifox 定时从本仓库抓取并同步到 https://open.bohrium.com 。


    鉴权：所有接口使用 `Authorization: Bearer <BOHR_ACCESS_KEY>`。业务返回通常为 `{code, data, message}` 信封，`code==0` 成功，`code==2000` 未授权。


    计费端点在 operation 上以 `x-bohrium-price` 扩展标注机器可读价格，并在 description 末尾追加人类可读的「计费」行。


    说明：`bohrium-database`（SDK/CLI）与 `bohrium-sandbox`（CLI）不直接暴露 REST 端点，故本文档未收录其路径。'
  version: 2.0.0
servers:
- url: https://open.bohrium.com
  description: Bohrium OpenAPI 正式环境
security:
- bearerAuth: []
tags:
- name: AI 科学小导师 (bohrium-mentor)
  description: 基于深度推理的科学问答（sigma-search，SSE 编排）。收费：创建会话 2 元/次。注意内部版本混用（sessions v4 / SSE v3 / history v4）。
paths:
  /openapi/v2/sigma-search/api/v4/ai_search/sessions:
    post:
      tags:
      - AI 科学小导师 (bohrium-mentor)
      summary: 创建会话，返回 sessionId
      description: '**计费**：2 元/次 或 200 光子/次（创建会话时收取）'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                model:
                  type: string
                discipline:
                  type: string
                scene:
                  type: string
                journal_type:
                  type: string
                snp_version:
                  type: string
      x-bohrium-price:
        billable: true
        currency: CNY
        skill: bohrium-mentor
        items:
        - amount: 2
          unit: 次
        note: 2 元/次 或 200 光子/次
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/sigma-search/api/v3/sse/ai_search/v1/{sessionId}/stream:
    get:
      tags:
      - AI 科学小导师 (bohrium-mentor)
      summary: 订阅 SSE 流
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/sigma-search/api/v4/ai_search/sessions/{sessionId}:
    get:
      tags:
      - AI 科学小导师 (bohrium-mentor)
      summary: 会话元数据
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/sigma-search/api/v4/{sessionId}/history:
    get:
      tags:
      - AI 科学小导师 (bohrium-mentor)
      summary: 会话历史（断线恢复）
      parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: 0 成功，2000 未授权
        message:
          type: string
        data:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bohrium AccessKey，环境变量 BOHR_ACCESS_KEY，作为 Bearer token
