openapi: 3.2.0
info:
  title: Bohrium Open 计算任务 (bohrium-job) API
  description: 'Bohrium 平台对外 OpenAPI 的单一事实源（single source of truth）。


    本文档由仓库 `dptech-corp/bohrium-skills` 的 `docs/api/openapi.json` 维护，内容基于各 Skill（`zh//SKILL.md`）中记录的真实接口生成；Apifox 定时从本仓库抓取并同步到 https://open.bohrium.com 。


    鉴权：所有接口使用 `Authorization: Bearer `。业务返回通常为 `{code, data, message}` 信封，`code==0` 成功，`code==2000` 未授权。


    计费端点在 operation 上以 `x-bohrium-price` 扩展标注机器可读价格，并在 description 末尾追加人类可读的「计费」行。


    说明：`bohrium-database`（SDK/CLI）与 `bohrium-sandbox`（CLI）不直接暴露 REST 端点，故本文档未收录其路径。'
  version: 2.0.0
servers:
- url: https://open.bohrium.com
  description: Bohrium OpenAPI 正式环境
security:
- bearerAuth: []
tags:
- name: 计算任务 (bohrium-job)
  description: 计算任务管理 — 提交、查询、终止、删除任务（提交主要经 bohr CLI）。任务运行按机时收费，价格见 Job 定价页。
paths:
  /openapi/v1/job/list:
    get:
      tags:
      - 计算任务 (bohrium-job)
      summary: 任务列表
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      operationId: getOpenapiV1JobList
      x-operation-id-source: derived
  /openapi/v1/job/view/conf/{job_id}:
    get:
      tags:
      - 计算任务 (bohrium-job)
      summary: 任务配置（含文件 token）
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      operationId: getOpenapiV1JobViewConfByJobId
      x-operation-id-source: derived
  /openapi/v1/job/{job_id}/snapshot:
    get:
      tags:
      - 计算任务 (bohrium-job)
      summary: 任务快照
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      operationId: getOpenapiV1JobByJobIdSnapshot
      x-operation-id-source: derived
  /openapi/v1/job/{job_id}/modify:
    post:
      tags:
      - 计算任务 (bohrium-job)
      summary: 重命名任务
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      operationId: postOpenapiV1JobByJobIdModify
      x-operation-id-source: derived
  /openapi/v1/job_group/{job_group_id}/modify:
    post:
      tags:
      - 计算任务 (bohrium-job)
      summary: 重命名任务组
      parameters:
      - name: job_group_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      operationId: postOpenapiV1JobGroupByJobGroupIdModify
      x-operation-id-source: derived
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: 0 成功，2000 未授权
        message:
          type: string
        data:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bohrium AccessKey，环境变量 BOHR_ACCESS_KEY，作为 Bearer token
