openapi: 3.0.1
info:
  title: Bohrium Open AI 科学小导师 (bohrium-mentor) AI 科学小导师 (bohrium-mentor) 论文与专利搜索 (bohrium-paper-search) API
  description: 'Bohrium 平台对外 OpenAPI 的单一事实源（single source of truth）。


    本文档由仓库 `dptech-corp/bohrium-skills` 的 `docs/api/openapi.json` 维护，内容基于各 Skill（`zh/<skill>/SKILL.md`）中记录的真实接口生成；Apifox 定时从本仓库抓取并同步到 https://open.bohrium.com 。


    鉴权：所有接口使用 `Authorization: Bearer <BOHR_ACCESS_KEY>`。业务返回通常为 `{code, data, message}` 信封，`code==0` 成功，`code==2000` 未授权。


    计费端点在 operation 上以 `x-bohrium-price` 扩展标注机器可读价格，并在 description 末尾追加人类可读的「计费」行。


    说明：`bohrium-database`（SDK/CLI）与 `bohrium-sandbox`（CLI）不直接暴露 REST 端点，故本文档未收录其路径。'
  version: 2.0.0
servers:
- url: https://open.bohrium.com
  description: Bohrium OpenAPI 正式环境
security:
- bearerAuth: []
tags:
- name: 论文与专利搜索 (bohrium-paper-search)
  description: RAG 引擎关键词+语义检索。收费。响应可能为多行 JSON（流式，解析第一行）。
paths:
  /openapi/v2/paper/rag/pass/keyword:
    post:
      tags:
      - 论文与专利搜索 (bohrium-paper-search)
      summary: 英文文献 RAG 搜索
      description: '**计费**：论文搜索 type 0 = 0.05 元/次；type 1 = 0.1 元/次'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                words:
                  type: array
                  items:
                    type: string
                question:
                  type: string
                type:
                  type: integer
                startTime:
                  type: string
                endTime:
                  type: string
                jcrZones:
                  type: array
                  items:
                    type: string
                includeDbs:
                  type: array
                  items:
                    type: string
                areaIds:
                  type: array
                  items:
                    type: string
                publicationIds:
                  type: array
                  items:
                    type: string
                subjectIds:
                  type: array
                  items:
                    type: string
                pageSize:
                  type: integer
      x-bohrium-price:
        billable: true
        currency: CNY
        skill: bohrium-paper-search
        items:
        - condition: type=0
          amount: 0.05
          unit: 次
        - condition: type=1
          amount: 0.1
          unit: 次
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/paper/rag/pass/patent:
    post:
      tags:
      - 论文与专利搜索 (bohrium-paper-search)
      summary: 专利 RAG 搜索
      description: '**计费**：专利搜索 type 0 = 0.1 元/次；type 1 = 0.3 元/次；type 2 = 0.5 元/次'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: integer
                words:
                  type: array
                  items:
                    type: string
                question:
                  type: string
                pageSize:
                  type: integer
      x-bohrium-price:
        billable: true
        currency: CNY
        skill: bohrium-paper-search
        items:
        - condition: type=0
          amount: 0.1
          unit: 次
        - condition: type=1
          amount: 0.3
          unit: 次
        - condition: type=2
          amount: 0.5
          unit: 次
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: 0 成功，2000 未授权
        message:
          type: string
        data:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bohrium AccessKey，环境变量 BOHR_ACCESS_KEY，作为 Bearer token
