openapi: 3.0.1
info:
  title: Bohrium Open AI 科学小导师 (bohrium-mentor) AI 科学小导师 (bohrium-mentor) 科学工具库 (bohrium-tools) API
  description: 'Bohrium 平台对外 OpenAPI 的单一事实源（single source of truth）。


    本文档由仓库 `dptech-corp/bohrium-skills` 的 `docs/api/openapi.json` 维护，内容基于各 Skill（`zh/<skill>/SKILL.md`）中记录的真实接口生成；Apifox 定时从本仓库抓取并同步到 https://open.bohrium.com 。


    鉴权：所有接口使用 `Authorization: Bearer <BOHR_ACCESS_KEY>`。业务返回通常为 `{code, data, message}` 信封，`code==0` 成功，`code==2000` 未授权。


    计费端点在 operation 上以 `x-bohrium-price` 扩展标注机器可读价格，并在 description 末尾追加人类可读的「计费」行。


    说明：`bohrium-database`（SDK/CLI）与 `bohrium-sandbox`（CLI）不直接暴露 REST 端点，故本文档未收录其路径。'
  version: 2.0.0
servers:
- url: https://open.bohrium.com
  description: Bohrium OpenAPI 正式环境
security:
- bearerAuth: []
tags:
- name: 科学工具库 (bohrium-tools)
  description: 科学工具库 — 按领域/子领域浏览、混合检索工具、查看详情与分类。免费。语言经 Content-Language 头或 body language 指定。
paths:
  /openapi/v2/literature-sage/tool/domain:
    get:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 工具领域列表
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/domain/summary:
    get:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 工具总数
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/subdomain:
    post:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 子领域列表（分页）
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain_node_ids:
                  type: array
                  items:
                    type: string
                page:
                  type: integer
                page_size:
                  type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/subdomain/detail:
    post:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 子领域详情
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subdomain_node_id:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/list:
    post:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 子领域下工具
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subdomain_node_id:
                  type: string
                tag_ids:
                  type: array
                  items:
                    type: string
                sort_by:
                  type: string
                sort_type:
                  type: string
                page:
                  type: integer
                page_size:
                  type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/detail:
    get:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 工具详情
      parameters:
      - name: tool_unique_key
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/tags:
    post:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 子领域标签
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subdomain_node_ids:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/search/hybrid:
    post:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 混合工具检索
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                keywords:
                  type: array
                  items:
                    type: string
                language:
                  type: string
                k:
                  type: integer
                return_level:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /openapi/v2/literature-sage/tool/search/subdomain:
    post:
      tags:
      - 科学工具库 (bohrium-tools)
      summary: 子领域搜索
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                language:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          description: 0 成功，2000 未授权
        message:
          type: string
        data:
          type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bohrium AccessKey，环境变量 BOHR_ACCESS_KEY，作为 Bearer token
